$bgcolor:rgba(0, 0, 0, 0.9);
footer {
    background-color: $bgcolor;
    color: #d5d5d5;
}

hr.light {
    border-top: 1px solid #d5d5d5;
    width: 75%;
}

.light-100 {
    border-top: 1px solid #d5d5d5;
    width: 100%;
}

#footer-group {
    color: whitesmoke;
    text-decoration: none;
    &:hover {
        color: rgb(139, 139, 139);
    }
}