footer {
    background-color: rgba(82, 64, 120, 0.9);
    color: #d5d5d5;
}

hr.light {
    border-top: 1px solid #d5d5d5;
    width: 75%;
}

.light-100 {
    border-top: 1px solid #d5d5d5;
    width: 100%;
}

#footer-group {
    color: whitesmoke;
}