.welcome {
    hr {
        border-top: solid 2px #311a1ac0;
        width: 95%;
        margin-bottom: 2rem;
    }
}

.fa-react {
    color: #81D8F7;
}

.fa-angular {
    color: rgb(177, 43, 55)
}

.fa-css3 {
    color: #D76537;
}

.fa-react,
.fa-angular,
.fa-css3 {
    font-size: 4em;
    margin: 1rem;
}

.fun {
    width: 100%;
}

.social a {
    font-size: 3em;
    padding: 3rem;
}

.fa-facebook {
    color: #3b5998
}

.fa-twitter {
    color: #00aced
}