/*MEDIA QUERY*/

@media(max-width:992px) {
    .carousel-caption {
        top: 20px;
    }
    .carousel-caption h1 {
        font-size: 250%;
    }
    .carousel-caption h3 {
        font-size: 160%;
    }
    .carousel-caption btn {
        font-size: 120%;
    }
}

@media(max-width:768px) {
    .carousel-caption {
        top: 20px;
    }
    .carousel-caption h1 {
        font-size: 220%;
    }
    .carousel-caption h3 {
        font-size: 140%;
        padding-bottom: 0.2rem;
    }
    .carousel-caption btn {
        font-size: 120%;
        padding: 8px 14px;
    }
}

@media(max-width:576px) {
    .carousel-caption {
        top: 10px;
    }
    .carousel-caption h1 {
        font-size: 150%;
    }
    .carousel-caption h3 {
        font-size: 110%;
    }
    .carousel-caption btn {
        font-size: 90%;
        padding: 4px 8px;
    }
}