body,
html {
  min-height: 100%;
  position: relative;
  font-family: Arial;
}

.header {
  border: 1px;
  padding: 1px;
  text-align: center;
}

.option-header {
  display: inline-block;
}

.content {
  border: 1px;
  padding: 1px;
}

.footer {
  border: 1px;
  padding: 1px;
  color: whitesmoke;
  background-color: black;
  display: block;
}
