/*

  General CSS for WP admin panel

*/
.td-admin-wrap {
  position: relative;
  margin: 44px 30px 0 20px;
  max-width: 1050px;
  clear: both;
}
@media (max-width: 730px) {
  .td-admin-wrap {
    margin-right: 30px;
  }
}
.td-admin-wrap p {
  font-size: 15px;
  line-height: 25px;
}
.td-admin-wrap .td-plugin-required {
  display: inline-block;
  height: 21px;
  z-index: 1;
  position: absolute;
  padding: 0 9px;
  color: #fff;
  font-size: 10px;
  vertical-align: middle;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 21px;
  letter-spacing: 0.2px;
  background-color: #222;
}
.td-admin-wrap .td-plugin-required.td-required {
  background-color: #d93d4f;
}
.td-admin-wrap .td-plugin-required.td-optional {
  background-color: #0085ba;
}
.td-admin-wrap .td-plugin-required.td-active {
  background-color: #69bd32;
}
.td-admin-wrap .td-plugin-required.td-premium {
  background-color: #f4ae2b;
}
.td-admin-wrap .theme-screenshot {
  background-color: #fff;
  z-index: -1;
  overflow: auto;
  position: relative;
  /* responsive portrait phone  */
}
@media (min-width: 1298px) {
  .td-admin-wrap .theme-screenshot {
    height: 214px;
  }
}
.td-admin-wrap .theme .theme-actions {
  opacity: 1;
  height: 35px;
  padding-top: 7px;
  /* responsive portrait phone */
}
@media (max-width: 782px) {
  .td-admin-wrap .theme .theme-actions {
    width: 96%;
    padding: 12px 2% 0;
    text-align: center;
    height: 46px;
    right: 1px;
    position: relative;
    border-top: 1px solid #dadada;
  }
}
.td-admin-wrap .theme .theme-actions .button {
  margin: 0;
}
.td-admin-wrap .theme .theme-actions .button:first-child {
  margin-right: 5px;
}
.td-admin-wrap .theme {
  cursor: auto !important;
  margin-bottom: 5%;
  /* responsive portrait phone */
}
@media (min-width: 1600px) {
  .td-admin-wrap .theme {
    width: 30.6% !important;
    margin: 0 0 4% 4% !important;
  }
}
.td-admin-wrap .theme .theme-name {
  text-align: center;
  padding: 18px 10px;
  background-color: #f5f5f5;
}
.td-admin-wrap .theme:not(.active):hover .theme-actions {
  /* responsive portrait phone */
}
@media (max-width: 780px) {
  .td-admin-wrap .theme:not(.active):hover .theme-actions {
    display: block;
  }
}
.td-admin-wrap.td-admin-plugins .theme:nth-of-type(3n+1) {
  margin-left: 0 !important;
}
.td-demo-page-content .theme .theme-actions .button {
  line-height: 14px;
}
/*  ----------------------------------------------------------------------------
    ap-admin header tabs
*/
.td-wp-admin-header {
  max-width: none;
  margin: 0 -48px 0 0;
  padding-left: 28px;
  padding-top: 28px;
  position: relative;
  left: -48px;
  /* responsive portrait tablet */
}
.td-wp-admin-header .nav-tab-wrapper {
  padding-left: 40px !important;
}
.td-wp-admin-header .nav-tab:first-child {
  margin-left: 0;
}
@media (min-width: 880px) and (max-width: 1210px) {
  .td-wp-admin-header .nav-tab {
    margin-left: .4em;
    padding: 4px 9px;
    font-size: 16px;
  }
}
@media (min-width: 600px) and (max-width: 880px) {
  .td-wp-admin-header .nav-tab {
    margin-left: .3em;
    padding: 3px 8px;
    font-size: 15px;
  }
}
.td-wp-admin-header .notice {
  margin: 20px 40px 0 40px;
}
.td-admin-box-text {
  float: left;
  padding: 6px 26px;
  background-color: #FFF;
  margin-bottom: 30px;
  margin-top: 15px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.td-admin-box-text p {
  font-size: 15px;
  line-height: 25px;
  display: inline-block;
  margin-right: 10px;
}
.td-admin-box-text .button {
  margin-right: 10px;
  vertical-align: middle !important;
}
.td-admin-box-text h2 {
  margin: 1em 0 0.5em;
  color: #111;
  font-size: 1.8em;
  font-weight: bold;
  line-height: 1.1em;
  text-align: left;
}
.td-admin-columns {
  margin-top: 30px;
}
.td-admin-box-three {
  width: 32%;
  margin-right: 2%;
  /* responsive portrait phone */
}
@media (max-width: 780px) {
  .td-admin-box-three {
    width: 100%;
    margin-bottom: 0;
    margin-right: 0;
  }
}
.td-admin-box-three .button {
  margin-bottom: 16px;
  margin-right: 10px;
}
.td-admin-box-three p {
  margin-right: 0;
}
.td-admin-box-last {
  margin-right: 0;
}
.td-admin-wrap .about-text {
  width: 100%;
}
.td-admin-wrap .td-small-checkbox {
  border-top: 1px solid #dadada;
  padding: 10px;
  min-height: 22px;
}
.td-admin-wrap .td-small-checkbox p {
  display: inline-block;
  font-size: 13px;
  margin: 0 0 0 5px;
}
.td-admin-wrap .td-small-checkbox .td-checbox-buton {
  top: 3px;
  width: 16px;
  height: 16px;
  left: 3px;
  background-color: #fff;
  background-image: none;
}
.td-admin-wrap .td-small-checkbox .td-checkbox {
  width: 39px;
  height: 22px;
  margin: 0;
  vertical-align: middle;
}
.td-admin-wrap .td-small-checkbox .td-checbox-buton-active {
  left: 20px;
}
.td-admin-wrap .td-small-checkbox .td-installed-text {
  /* responsive portrait phone */
}
@media (max-width: 782px) {
  .td-admin-wrap .td-small-checkbox .td-installed-text {
    text-align: center;
  }
}
.td-admin-plugins .theme .theme-screenshot img {
  width: auto;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  max-width: none;
  /* responsive portrait phone */
}
@media (max-width: 1300px) {
  .td-admin-plugins .theme .theme-screenshot img {
    max-height: 100%;
  }
}
.media-sidebar .gallery-settings .setting select {
  float: right;
}
@font-face {
  font-family: 'tagDiv';
  src: url('../images/font/tagDiv.eot?m8e83u');
  src: url('../images/font/tagDiv.eot?#iefixm8e83u') format('embedded-opentype'), url('../images/font/tagDiv.ttf?m8e83u') format('truetype'), url('../images/font/tagDiv.woff?m8e83u') format('woff'), url('../images/font/tagDiv.svg?m8e83u#tagDiv') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'tagDiv';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-tagdiv-ico:before {
  content: "\e800";
}
.icon-tagdiv-facebook:before {
  content: "\e818";
}
.icon-tagdiv-twitter:before {
  content: "\e831";
}
.icon-tagdiv-googleplus:before {
  content: "\e81b";
}
.icon-tagdiv-pinterest:before {
  content: "\e825";
}
.icon-tagdiv-whatsapp:before {
  content: "\f232";
}
.icon-tagdiv-linkedin:before {
  content: "\e81f";
}
.icon-tagdiv-reddit:before {
  content: "\e827";
}
.icon-tagdiv-mail:before {
  content: "\e810";
}
.icon-tagdiv-print:before {
  content: "\f02f";
}
.icon-tagdiv-tumblr:before {
  content: "\e830";
}
.icon-tagdiv-telegram:before {
  content: "\f2c6";
}
.icon-tagdiv-stumbleupon:before {
  content: "\e82f";
}
.icon-tagdiv-vk:before {
  content: "\e837";
}
.icon-tagdiv-digg:before {
  content: "\e815";
}
.icon-tagdiv-line:before {
  content: "\e906";
}
.icon-tagdiv-viber:before {
  content: "\e907";
}
.icon-tagdiv-drag:before {
  content: "\e25d";
}
.icon-tagdiv-naver:before {
  content: "\e900";
}
#toplevel_page_td_cake_panel .dashicons-admin-generic:before,
#toplevel_page_td_theme_welcome .dashicons-admin-generic:before {
  font-family: 'tagDiv';
  content: "\e800";
  font-size: 14px;
  top: 3px;
  position: relative;
}
@-moz-document url-prefix() {
  #toplevel_page_td_cake_panel .dashicons-admin-generic:before,
  #toplevel_page_td_theme_welcome .dashicons-admin-generic:before {
    top: 2px;
  }
}
#adminmenu #toplevel_page_td_cake_panel.current .wp-menu-name span {
  color: #fff !important;
}
/*  ----------------------------------------------------------------------------
    plugins list
*/
.td-admin-plugins {
  max-width: none;
}
.td-admin-plugins .td-admin-columns {
  margin-left: -15px;
  margin-right: -15px;
}
.td-admin-plugins .td-demo-thumb {
  border: none;
}
.td-admin-plugins .about-text {
  max-width: 1050px;
}
.td-wp-admin-plugin {
  max-width: 300px;
  display: inline-block;
  padding: 0 15px 30px;
}
.td-wp-admin-plugin:hover .td-plugin-image {
  -webkit-box-shadow: 0 0 21px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 21px 0 rgba(0, 0, 0, 0.12);
}
.td-plugin-image {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08);
  overflow: hidden;
  position: relative;
  height: 360px;
  background-color: #fff;
  -webkit-transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
}
.td-plugin-meta {
  font-size: 13px;
  width: 100%;
  text-align: center;
  font-family: 'Open Sans', arial, sans-serif;
}
.td-plugin-meta .theme-name {
  font-size: 17px;
  text-align: center;
  font-weight: bold;
  margin: 0;
  padding: 20px 10px 0;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.td-plugin-meta p {
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 13px;
  line-height: 17px;
  display: block;
  margin: 12px 30px 8px;
  color: #999;
  height: 61px;
  overflow: hidden;
}
.td-plugin-meta p a {
  display: inline-block;
  margin: 6px 6px 0;
}
.td-plugin-meta p strong {
  color: #888;
}
.td-plugin-meta p.td-plugin-notice {
  font-size: 12px;
  color: red;
  opacity: 0.65;
  height: auto;
}
.td-plugin-meta .td-plugin-buttons {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.td-plugin-meta .td-plugin-button {
  color: #888;
  line-height: 1;
  text-decoration: none;
  padding: 10px 20px 9px;
  display: block;
  position: relative;
  margin: 0 auto 26px;
  text-transform: uppercase;
  font-size: 11px;
  opacity: 0.8;
}
.td-plugin-meta .td-plugin-button:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50px;
  border: 1px solid #888;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  z-index: -1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.td-plugin-meta .td-plugin-button:hover:before {
  opacity: 0.6;
}
/*  ----------------------------------------------------------------------------
    buttons
*/
.td-wp-admin-plugin .td-button-install-plugin {
  display: none;
  color: #fff;
}
.td-wp-admin-plugin .td-button-install-plugin:before {
  border-color: #0085ba;
  background-color: #0085ba;
  opacity: 0.85;
}
.td-wp-admin-plugin .td-button-install-plugin:hover:before {
  opacity: 1;
  box-shadow: 0 2px 8px 0 rgba(0, 133, 186, 0.6);
}
.td-wp-admin-plugin .td-button-update-plugin {
  display: none;
  color: #fff;
}
.td-wp-admin-plugin .td-button-update-plugin:before {
  border-color: #0085ba;
  background-color: #0085ba;
  opacity: 0.85;
}
.td-wp-admin-plugin .td-button-update-plugin:hover:before {
  opacity: 1;
  box-shadow: 0 2px 8px 0 rgba(0, 133, 186, 0.6);
}
.td-wp-admin-plugin .td-button-uninstall-plugin {
  display: none;
}
.td-wp-admin-plugin .td-button-activate-plugin {
  display: none;
  color: #fff;
}
.td-wp-admin-plugin .td-button-activate-plugin:before {
  border-color: #40a200;
  background-color: #40a200;
  opacity: 0.85;
}
.td-wp-admin-plugin .td-button-activate-plugin:hover:before {
  opacity: 1;
  box-shadow: 0 2px 8px 0 rgba(64, 162, 0, 0.6);
}
.td-plugin-active .td-button-uninstall-plugin {
  display: inline-block;
}
.td-plugin-inactive .td-button-activate-plugin {
  display: inline-block;
}
.td-plugin-not-installed .td-button-install-plugin {
  display: inline-block;
}
.td-plugin-update .td-button-update-plugin {
  display: inline-block;
}
.td-plugin-no-install .theme-actions {
  display: none;
}
/*  ----------------------------------------------------------------------------
    supported plugin list
*/
.td-supported-plugin-list {
  font-size: 14px;
  max-width: 800px;
}
.td-supported-plugin {
  padding-bottom: 10px;
  margin-top: 10px;
  border-bottom: 1px solid #e9e9e9;
  position: relative;
}
.td-supported-plugin span {
  position: absolute;
  left: 400px;
  top: 0;
  font-size: 13px;
  color: #797979;
}
/*  ----------------------------------------------------------------------------
    wp-admin/plugins.php list
*/
.td-amp-plugin-warning {
  transform: translateY(-1px);
  -webkit-transform: translateY(-1px);
}
.td-amp-plugin-warning .notice-warning {
  padding: 10px 12px;
}
/* welcome panel > install plugins  */
.td-wp-admin-welcome-plugin {
  padding: 0 !important;
}
.td-wp-admin-welcome-plugin .td-plugin-image {
  display: inline-block;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08);
  overflow: hidden;
  position: relative;
  height: auto !important;
  max-width: 130px !important;
  background-color: #fff;
  -webkit-transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
}
.td-wp-admin-welcome-plugin .td-plugin-meta {
  display: inline-block;
  width: auto !important;
}
.td-wp-admin-welcome-plugin:hover .td-plugin-image {
  -webkit-box-shadow: 0 0 21px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 21px 0 rgba(0, 0, 0, 0.12);
}
.td-admin-setup-plugins {
  margin: 0;
  padding: 13px 0 75px;
}
.td-admin-setup-plugins:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}
.td-admin-setup-plugins form {
  display: flex;
  margin: 0 auto;
  max-width: 680px;
  flex-direction: column;
  align-items: center;
}
.td-admin-setup-plugins form .td-button-install-plugins {
  margin-top: 1.5em;
  font-weight: 600;
}
.td-admin-setup-plugins form .about-description {
  margin-bottom: 1.1em;
  text-align: center;
}
.td-admin-setup-plugins form .theme-plugins-setup {
  margin: 0 auto;
}
.td-admin-setup-plugins form .theme-plugins-setup li {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 30px;
  font-weight: bold;
}
.td-admin-setup-plugins form .theme-plugins-setup li:before {
  content: '';
  position: relative;
  width: 6px;
  margin-right: 15px;
  border-bottom: 1px solid #000;
  top: 1px;
}
.td-admin-setup-plugins form .theme-plugins-setup li .spinner {
  margin-right: 0;
}
.td-admin-setup-plugins form .td-button-install-wrap {
  margin: 0 auto;
}
.td-admin-setup-plugins form .themes-plugin-txt,
.td-admin-setup-plugins form .themes-plugin-status {
  width: 200px;
}
.td-admin-setup-plugins form .themes-plugin-status {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  top: 1px;
  font-size: 12px;
  font-style: italic;
  color: dodgerblue;
}
.td-admin-setup-plugins .theme-plugins-installed {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  visibility: hidden;
  opacity: 0;
}
.td-admin-setup-plugins .theme-plugins-installed img {
  width: auto;
  margin-bottom: 10px;
}
.td-admin-setup-plugins .theme-plugins-error-msg {
  margin-top: 0.8em;
  margin-bottom: 0.4em;
  text-align: center;
  font-size: 12px;
  line-height: 1.5;
  color: #a00;
}
.td-admin-setup-plugins .theme-plugins-error-msg a {
  text-decoration: none;
}
.td-admin-setup-plugins.td-installing-plugins {
  background-color: #fff;
  opacity: 0.6;
  cursor: wait;
}
.td-admin-setup-plugins.td-installing-plugins .td-button-install-plugins {
  pointer-events: none;
  cursor: inherit;
}
.td-admin-setup-plugins.td-installed-plugins form {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}
.td-admin-setup-plugins.td-installed-plugins .theme-plugins-installed {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
}
.td-admin-setup-plugins .td-button-install-plugins[disabled] {
  pointer-events: none;
  cursor: inherit;
}
.td-admin-required-plugins {
  float: none;
  width: 100%;
  border-left: 2px solid greenyellow;
  position: relative;
}
.td-admin-required-plugins .button {
  position: absolute;
  right: 14px;
  top: 19px;
}
.td-admin-required-plugins-wrap {
  margin-right: 170px;
}
.td-admin-welcome-left {
  width: 600px;
}
.td-admin-doc-box {
  margin-top: 26px;
}
.td-admin-support .about-text {
  margin-bottom: 32px;
}
.td-welcome-header {
  position: relative;
  display: flex;
  padding-bottom: 3em;
}
.td-welcome-header:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}
.td-welcome-header .about-text {
  display: flex;
  margin-bottom: 0;
}
.td-welcome-header img {
  align-self: flex-end;
  flex: 0 0 auto;
  width: 24%;
  margin-left: 20px;
}
.td-welcome-header-left h1 {
  margin: 0;
}
.td-welcome-version {
  display: inline;
  font-size: 12px;
}
.about-wrap h2 {
  margin-bottom: .4em;
}
.about-wrap h3 {
  padding-top: 13px;
}
.about-wrap .notice.td-plugins-deactivated-notice {
  display: block !important;
}
.vc-license-activation-notice {
  display: none;
}
#vc_properties-panel .wp-color-result {
  margin-bottom: 0px;
}
#vc_properties-panel .vc_description {
  margin-top: 4px;
}
/*  ----------------------------------------------------------------------------
    MIXING functions
*/
.td-panel-remove-transitions {
  -webkit-transition-property: initial;
  transition-property: initial;
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
  -webkit-transition-timing-function: initial;
  transition-timing-function: initial;
}
.td-visual-selector-o a {
  outline: 0;
}
a:focus {
  box-shadow: none;
}
/*  ----------------------------------------------------------------------------
    tgma plugin
*/
.td-tgma-tip {
  color: #4db2ec;
}
#tgmpa-plugins .install,
#tgmpa-plugins .activate {
  visibility: visible;
}
#tgmpa-plugins .tgmpa-type-required > th {
  border-left: 3px solid #dc3232;
}
/*  ----------------------------------------------------------------------------
    Customizer
*/
.preview-tablet .wp-full-overlay-main {
  width: 768px;
}
